%footer
  #footer.footer
    .container
      .row
        .col-md-8
          %ul
            %li.mapa-sitio
              =link_to('My films', films_path, class: 'nav-link')
            %li.mapa-sitio
              =link_to('Recommendations', recommend_film_path, class: 'nav-link')
        .col-md-4
          %ul.social
            %li
              %a{:href => "https://www.facebook.com/"}
                %i.fa.fa-facebook  
            %li
              %a{:href => "https://www.twitter.com/"}
                %i.fa.fa-twitter  
            %li
              %a{:href => "https://plus.google.com"}
                %i.fa.fa-google-plus  
            %li
              %a{:href => "https://www.pinterest.com"}
                %i.fa.fa-pinterest  
            %li
              %a{:href => "https://www.youtube.com"}
                %i.fa.fa-youtube  
          / /.row
        / /.container
      / /.footer
  .footer-bottom
    .container
      %p Copyright © Filmo 2017. All right reserved.
      / /.footer-bottom
