%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    %ul.navbar-nav
      %li.nav-item
        =link_to('My films', films_path, class: 'nav-link')
      %li.nav-item
        =link_to('Recommendations', recommend_film_path, class: 'nav-link')
      %li.nav-item
        = link_to('Tops', top_path, class: 'nav-link')
    %ul.nav.navbar-nav.navbar-right
      %li.nav-item
        = link_to('Log out', destroy_user_session_path, method: :delete, class: 'nav-link')

.header
  .text-center= page